<mat-card class="example-card">
  <mat-card-subtitle>13.04.2022</mat-card-subtitle>
  <mat-card-title>Zebranie Właścicieli Wspólnoty</mat-card-title>
  <mat-card-content>
    <p>Zebraliśmy dwie główne kwestie do uchwalenia:

      1. Rozliczenia mediów co pół roku.
      
      2. Rozliczenie mediów (głównie ogrzewania) w garażach indywidualne. Jeśli nie będzie przegłosowane, to skłądamy uchwałę o zabezpieczenie termostatów przed niepożądanym dostępem.
      
      Zgłaszajcie w dyskusji dodatkowe postulaty.
    </p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    FOOTER
  </mat-card-footer>
</mat-card>
