@import "./styles-assets/variables";

.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    background-color: $colorMain;
    position: relative;
    z-index: 2;
    
    &_menu-icon {
      display: block;
      color: white;
      font-weight: 300;
    }

    &_menu-title {
      color: white;
      font-weight: 300;
    }

    &_link-wrapper {
      display: none;
      margin-right: 20px;
    }

  }

  @media (min-width: 700px) {

    .toolbar {
      &_menu-icon{
        display: none;
      }

    &_link-wrapper {
      display: flex;
      margin-right: 20px;
    }

    &_link {
      margin: 0 12px;
      color: white;
      font-size: 1.1rem;
      font-weight: 300;
      cursor: pointer;
      border-bottom: 3px solid $colorMain;

      &--active {
        border-bottom: 3px solid $colorAccent;
        color: $textAccent;
      }
    }

  }

  }


