@import "./styles-assets/variables";

.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    background-color: $colorMain;
    position: relative;

    &_menu-icon{
      display: block;
      color: white;
      font-weight: 300;
    }

    &_link-wrapper {
      display: none;
      margin-right: 20px;
    }

  }

  .image-bg {
      height: 20vh;
      width: 100%;
      background-image: url('../assets/backgrounds/01bg.jpg');
      background-size: cover;
      background-position-y: top;
      background-position-x: right;
  }

  @media (min-width: 700px) {

    .toolbar {
      &_menu-icon{
        display: none;
        color: white;
      }

    &_link-wrapper {
      display: flex;
      margin-right: 20px;
    }

    &_link {
      margin: 0 12px;
      color: white;
      font-size: 1.1rem;
      font-weight: 300;
      cursor: pointer;

      &--active {
        border-bottom: 3px solid $colorAccent;
        color: $textAccent;
      }
    }
    
  }

  }


