<mat-toolbar class="toolbar mat-elevation-z2">
  <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->

  <button *ngIf="isUserAuth" mat-icon-button class="toolbar_menu-icon" [matMenuTriggerFor]="mainMenu" aria-label="..">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="news">Aktualności</button>
    <button mat-menu-item routerLink="announcements">Komunikaty</button>
    <button mat-menu-item routerLink="announcements">Awarie</button>
    <button mat-menu-item routerLink="announcements">Dyskusje</button>
    <button mat-menu-item routerLink="announcements">Dokumenty</button>
    <button mat-menu-item routerLink="announcements">Giełda</button>
    <button mat-menu-item routerLink="announcements">Bernadowska</button>
  </mat-menu>

  <span class="toolbar_menu-title" routerLink="news">NoweKolibki</span>

  <span class="example-spacer"></span>

  <div class="toolbar_link-wrapper" *ngIf="isUserAuth">
    <div class="toolbar_link" routerLink="news" routerLinkActive="toolbar_link--active" [routerLinkActiveOptions]="{exact:
    true}">Aktualności</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Komunikaty</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Awarie</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Dyskusje</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Dokumenty</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Giełda</div>
    <div class="toolbar_link" routerLink="announcements" routerLinkActive="toolbar_link--active">Bernadowska</div>
  </div>

  <button *ngIf="isUserAuth" mat-icon-button color="accent" [matMenuTriggerFor]="userMenu" aria-label="..">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="user-profile">
    <mat-icon>settings</mat-icon>Ustawienia profilu
  </button>
  <button mat-menu-item routerLink="admin-panel">
    <mat-icon>key</mat-icon>Panel Administratora
  </button>
  <button *ngIf="hasAdminRole" mat-menu-item routerLink="" (click)="logout()">
    <mat-icon>logout</mat-icon>Wyloguj
  </button>
</mat-menu>

<app-layout-scrollable>
  <router-outlet></router-outlet>
</app-layout-scrollable>