<div class="image-header">
</div>
<app-layout-for-posts>
<mat-card *ngFor="let post of posts " class="card-post">
  <mat-card-subtitle>{{getDate(post.date)}}</mat-card-subtitle>
  <mat-card-title>{{post.titleText}}</mat-card-title>
  <mat-card-content>
    {{post.contentText}}
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    FOOTER
  </mat-card-footer>
</mat-card>
</app-layout-for-posts>

