<div class="image-header">
</div>
<app-layout-for-posts>
  <mat-card *ngFor="let post of posts " class="card-post">
    <mat-card-subtitle>{{getDate(post.date)}}</mat-card-subtitle>
    <mat-card-title>{{post.titleText}}</mat-card-title>
    <mat-card-content>
      <span class="card-post_text">{{post.contentText | CutPostCharactersPipe}}</span>
    </mat-card-content>

    <ng-container *ngIf="post.comments.length">
      <!-- <mat-card-subtitle>Ostatni komentarz: </mat-card-subtitle> -->
      <p class="card-post_last-comment">Ostatni komentarz:</p>
      <mat-card-content>
        <span class="card-post_last-comment_date">
          {{post.comments[0].date | FormatBackendDatePipe}}
        </span><br>
          {{post.comments[0].content | CutCommentCharactersPipe}}
      </mat-card-content>
    </ng-container>
    <mat-card-actions align="end">
      <button color="accent" mat-flat-button>Czytaj całość / komentuj</button>
    </mat-card-actions>
  </mat-card>
</app-layout-for-posts>