<div class="image-header">
</div>
<app-layout-for-posts>
<mat-card *ngFor="let post of posts " class="card-post">
  <mat-card-subtitle>{{getDate(post.date)}}</mat-card-subtitle>
  <mat-card-title>{{post.titleText}}</mat-card-title>
  <mat-card-content>
    {{post.contentText | CutTextCharactersPipe}}
  </mat-card-content>

  <mat-card-subtitle>Ostattni komentarz: </mat-card-subtitle>
  <mat-card-content>
    {{post.contentText | CutTextCharactersPipe}}
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="accent" mat-flat-button >Czytaj całość / komentuj</button>
  </mat-card-actions>
  <mat-divider inset></mat-divider>
  <mat-card-footer>
    FOOTER
  </mat-card-footer>
</mat-card>
</app-layout-for-posts>

