@import "./styles-assets/variables";

.card-post { 
  margin-bottom: 30px;

  &_text {
    font-size: 0.95rem;
    overflow-wrap: break-word;
  }

  &_last-comment {
    color: $textAccent;
    font-size: 1rem;

    &_date {
      color: rgba(0, 0, 0, 0.54);
    }
  }

}

.spinner-box {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

