/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles-assets/variables";
@import "./styles-assets/custom-theme";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $workspaceBackground;
}

* {
  box-sizing: border-box;
}

// global

.image-header {
  height: 20vh;
  width: 100%;
  background-image: url('./assets/backgrounds/01bg.jpg');
  background-size: cover;
  background-position-y: top;
  background-position-x: right;
}

// material over
mat-card-title {
  line-height: 26px;
}
