<app-layout-for-posts>
    <mat-card class="card-post" *ngIf="post">
      <mat-card-subtitle>{{post.date | FormatBackendDatePipe}}</mat-card-subtitle>
      <mat-card-title>{{post.titleText}}</mat-card-title>
      <mat-card-content>
        <span class="card-post_text">{{post.contentText}}</span>
      </mat-card-content>

      <mat-card-actions align="end">
        <button color="accent" mat-flat-button>Skomentuj</button>
      </mat-card-actions>

      
      <ng-container *ngIf="allComments!.content.length > 0">
        <mat-card-title>Komentarze: </mat-card-title>
        <mat-card-content>
          <div *ngFor="let comment of allComments!.content" class="">
            <mat-card-subtitle> {{comment.date | FormatBackendDatePipe}}</mat-card-subtitle>
              <p class="comment-container_text">
                {{comment.content}}
              </p>
              <p>- Mieszkaniec</p>
              <mat-divider></mat-divider>
          </div>
        </mat-card-content>

        <mat-card-actions align="end">
          <button color="accent" mat-flat-button>Skomentuj</button>
        </mat-card-actions>

      </ng-container>

    </mat-card>
  </app-layout-for-posts>
