
.card-post {
    &_text {
        overflow-wrap: break-word;
    }
}

.comment-container {
    padding-top: 10px;
    padding-bottom: 10px;

    &_text {
        overflow-wrap: break-word;
    }
}

.comment-dialog {
    background-color: aqua;
}

.spinner-box {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}